@import './base.css';

#app {
  max-width: 1650px;
  /* margin: 0 auto; */
  padding: 2rem;

  font-weight: normal;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

a,
.green {
  text-decoration: none;
  color: rgb(11, 14, 13);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 1600px;
    height: 750px;
    background-color: #b7d6ed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}