@import './base.css';

#app {
  max-width: 1650px;
  /* margin: 0 auto; */
  padding: 2rem;

  font-weight: normal;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

a,
.green {
  text-decoration: none;
  color: rgb(11, 14, 13);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 1600px;
    height: 750px;
    background-color: #b7d6ed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@keyframes nuage {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }

}


@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }

}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
}

@keyframes bounce2 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-200px);
  }
}

@keyframes color-change {
  0% {
    background-color: rgb(37, 195, 219);
  }

  100% {
    background-color: rgb(19, 52, 105);
  }
}

@keyframes travel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(+2000px);
  }
}